# traefik-indexer-pipeline.config
input {
  redis {
    data_type => "list"
    key => "traefik-log"
    host => "192.168.144.5"
    port => "6379"
  }
}

filter {
  dissect {
      mapping => {
        "message" => '%{source.address} %{traefik.access.user_identifier} %{user.name} [%{traefik.access.time}] "%{http.request.method} %{url.original} HTTP/%{http.version}" %{http.response.status_code} %{traefik.access.message}'
    }
  }
  date {
    match => ["traefik.access.time", "dd/MMM/yyyy:HH:mm:ss Z"]
          remove_field => ["traefik.access.time"]
  }
}

output {
  elasticsearch {
    hosts => ["192.168.144.5:9200"]
          index => "traefik-log-%{[host][name]}-%{+YYYY.MM.dd}"
  }
}

